@use "common" as *;

.banner-area {
    position: relative;
    padding: 150px 0 50px;
    background-image: url('/public/img/bg/Background-1.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper {
    .swiper-zoom-container {
        img {
            object-fit: cover;
            height: 900px;
        }
    }
}