@use "common" as *;

.banner-area {
    position: relative;
    padding: 150px 0 0;

    &::before {
        position: absolute;
        content: '';
        background-image: url('/public/img/bg/Background-1.svg');
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        rotate: 180deg;
        opacity: .5;
    }

    &::after {
        position: absolute;
        content: '';
        background-image: url('/public/img/bg/Background-1.svg');
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: .5
    }
}

.swiper {
    .swiper-zoom-container {
        img {
            object-fit: cover;
            height: 600px;
        }
    }
}


.hero-area {
    padding: 150px 0 100px;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        background-image: url('/public/img/bg/Background-1.svg');
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        rotate: 180deg;
        opacity: .5;
        z-index: -1;
    }

    &::after {
        position: absolute;
        content: '';
        background-image: url('/public/img/bg/Background-1.svg');
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: .5;
        z-index: -1;
    }
}

.hero-content-wrap {
    padding-right: 120px;
    text-align: justify;

    h2 {
        margin-bottom: 30px;
    }

    p {
        margin-bottom: 30px;
    }
}