@use "common" as *;

.contact-us-area {
    padding: 150px 0 0;
}

.contact-form-wrap {
    background-image: url(/img/bg/contact-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;

    .contact-form {
        padding: 40px;
        margin: auto;


        h2 {
            margin-bottom: 30px;
        }

        form {
            .input-group {
                margin-bottom: 20px;

                input,
                textarea {
                    border: 0;
                    width: 85%;
                    background: #edf6fd;
                    padding: 12px 25px;
                    border-radius: 30px;
                    color: #8fb0b9;
                    resize: none;
                }

                .btn {
                    width: 85%;
                    padding: 12px 25px;
                    border-radius: 30px;
                }
            }
        }
    }
}

.contact-map-wrap {
    height: 450px;
}

.map-location {
    width: 100%;
    height: 450px;
}