@use "common" as *;

.footerArea {
    padding: 80px 0;
    background: #D9E8F0;
}

.footer-logo {
    display: block;
    width: 250px;
    margin-bottom: 15px;
}

.footer-description {
    padding-right: 25px;
    margin-bottom: 15px;

}

.footerWrapper {

    .socialLinks {
        ul {
            li {
                a {
                    font-size: 20px;
                }
            }
        }
    }
}

.footerWidget {
    max-width: fit-content;
    margin: 0 auto;

    .titleText {
        text-transform: uppercase;
        margin-bottom: 30px;
        font-size: 18px;
    }

    ul {


        li {
            margin-bottom: 8px;

        }
    }
}

.copyRightText {
    span {
        font-size: 14px;

        a {
            font-size: 14px;
            color: $theme-color-2;
        }
    }
}